# --------------------------------*- sh -*-----------------------------------
# File: /openfoam/profile.rc
#
# Copyright (C) 2021 OpenCFD Ltd.
# SPDX-License-Identifier: (GPL-3.0+)
#
# Profile addins for OpenFOAM (www.openfoam.com)
#
# ---------------------------------------------------------------------------

for i in \
    /etc/profile.d/mpi-selector.sh \
    /etc/profile.d/binary-paraview.sh \
    /etc/profile.d/openfoam-[0-9]*.sh \
;
do
    if [ -f "$i" ]
    then  . "$i"
    fi
done

# ---------------------------------------------------------------------------
